/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end of reset */ 

body {
  font-family: sans-serif;
  background: lightgray;
  counter-reset: page;
  font-size: 8.5pt;
}

/* h1 {
  break-before: left;
} */

img (
  width: 100%;
)

.two-col {
  column-count: 2;
  column-gap: 2em;
} 

p:first-child {
  margin-top: 0;
}

.bigwords{
  font-family: 'Times New Roman', Times, serif;
  font-size: 18em;
  /* writing-mode:vertical-rl; */
  transform: rotate(-90deg);
  line-height: 0.7em;
  break-before:page;
  position:absolute;
  bottom: 1in;
  /* position:center;
  bottom: 1in; */
}

@media print {
  body {
    background: pink;
  }
}

@page {
  size: 5in 8in;
  margin-top: 0.25in;
  margin-bottom: 0.5in;
  bleed: 0.25in;
  marks: crop;
}

@page:left {
  margin-right: 0.5in;
  margin-left: 0.25in;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
  /* background-color: green;     */
  color: cornflowerblue;


  @left-middle {
    content: counter(page); 
    text-transform: uppercase;
  }

  @top-center {
    content: "journal title";
    text-transform: uppercase;
  }

  @bottom-center {
    content:"'open book'";
    text-transform: uppercase;
  }

  @top-left {
    content: "date written 2022";
    text-orientation: sideways;
    text-transform: uppercase;
  }

  @bottom-left {
    content:"time of day";
    text-transform: uppercase;
  }
}

@page:right {
  margin-left: 0.5in;
  margin-right: 0.25in;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
  /* background-color:rgb(255, 192, 250); */
  color:orangered;


  
  @top-center {
    content: "journal title";
    text-transform: uppercase;
  }
/* 
  @bottom-left {
    content:attr(h2);
  } */

  @top-right {
    content: "date written 2022";
    text-orientation: sideways;
    text-transform: uppercase;
  }

  @right-middle {
    content: counter(page); 
    text-transform: uppercase;
  }

  @bottom-right {
    content:"time of day";
    text-transform: uppercase;
  }
}

#pg2{
  font-family: 'Manrope', sans-serif;
}

#pg3{
  font-family: 'Chakra Petch', sans-serif;
}

#pg4{
  font-family: 'Climate Crisis', cursive;
}

#pg5{
  font-family: 'Macondo', cursive;
}

#pg6{
  font-family: 'Metal', cursive;
}

#pg7{
  font-family: 'Pirata One', cursive;
}

#pg8{
  font-family: 'Press Start 2P', cursive;
}

#pg9{
  font-family: 'Quintessential', cursive;
}

#pg10{
  font-family: 'Sarina', cursive;
}

#pg11{
  font-family: 'Silkscreen', cursive;
}

#pg12{
  font-family: 'Smokum', cursive;
}

#pg13{
  font-family: 'Unbounded', cursive;
}

#pg14{
  font-family: 'UnifrakturCook', cursive;
}

#pg15{
  font-family: 'Times New Roman', Times, serif
}



/* 
font-family: 'Chakra Petch', sans-serif;
font-family: 'Climate Crisis', cursive;
font-family: 'Macondo', cursive;
font-family: 'Manrope', sans-serif;
font-family: 'Metal', cursive;
font-family: 'Pirata One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Quintessential', cursive;
font-family: 'Sarina', cursive;
font-family: 'Silkscreen', cursive;
font-family: 'Smokum', cursive;
font-family: 'Unbounded', cursive;
font-family: 'UnifrakturCook', cursive; */